@media only screen and (min-width: 996px)
  .widgets
    display flex
    justify-content space-around

  .widget
    flex 0 0 30%
    max-width 30%

@media only screen and (min-width: 411px) and (max-width: 995px)
  .widget
    margin-right 5%
    margin-left 5%

.widget
  cursor pointer
  transition all 0.3s

.widget:hover
  transform scale(1.1)

.greenWidget
  @extend .widget
  background-image: linear-gradient(#045a13, #2ca567, #a5efbf)
  &:hover
    @extend .widget:hover

.blueWidget
  @extend .widget
  background-image: linear-gradient(#426284, #15afaf, #74c2da)
  &:hover
    @extend .widget:hover

.orangeWidget
  @extend .widget
  background-image: linear-gradient(#714f0a, #c38e23, #f7a271)
  &:hover
    @extend .widget:hover