grey = #a6a6a6

.content
  border-color grey
  box-shadow 0 0 5px grey
  outline none
  h5
    text-shadow 2px 4px 2px rgba(0,0,0,0.3)

@media only screen and (min-width: 611px)
  .star
    font-size 5em

@media only screen and (min-width 532px) and (max-width 610px)
  .star
    font-size 4em

@media only screen and (min-width 416px) and (max-width 531px)
  .star
    font-size 3em

@media only screen and (min-width 321px) and (max-width 415px)
  .star
    font-size 2em

@media only screen and (max-width 320px)
  .star
    font-size 1em

@media only screen and (max-width: 1190px)
  .toggleVisibility
    display: none

.heartOverlay
  @extend .toggleVisibility
  bottom 50%
  right 50%

.actionHeart
  cursor pointer
  transition all 0.5s

.actionHeart:hover
  transform scale(1.2)