grey = #a6a6a6

.content
  border-color grey
  box-shadow 0 0 5px grey
  outline none

@media only screen and (min-width: 611px)
  .star
    font-size 5em

@media only screen and (min-width 532px) and (max-width 610px)
  .star
    font-size 4em

@media only screen and (min-width 416px) and (max-width 531px)
  .star
    font-size 3em

@media only screen and (min-width 321px) and (max-width 415px)
  .star
    font-size 2em

@media only screen and (max-width 320px)
  .star
    font-size 1em